.NavLink {
  color: var(--secondary-color);

  text-decoration: none;

  transition: all 0.1s ease-in;

  &::visited {
    color: var(--secondary-color);
  }

  &:hover {
    color: var(--tertiary-color);
  }

  &.NavLink--alternative {
    font-family: var(--font-family-serif);
  }
}
