:root {
  --color-black: #313131;
  --color-grey: #484144;
  --color-white: #ffffff;

  --font-family-text: 'Fira Mono', monospace;
  --font-family-title: serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --grid-size: 900px;
  --nav-height: 80px;

  --size-xsmall: 6px;
  --size-small: 10px;
  --size-base: 16px;
  --size-large: 26px;
  --size-xlarge: 42px;
  --size-huge: 68px;
}
