:root {
  --color-black: #313131;
  --color-grey: #484144;
  --color-white: #ffffff;

  --font-family-text: 'Fira Mono', monospace;
  --font-family-title: serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --grid-size: 900px;
  --nav-height: 80px;

  --size-xsmall: 7px;
  --size-small: 11px;
  --size-base: 16px;
  --size-large: 24px;
  --size-xlarge: 36px;
  --size-huge: 54px;
}
