@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/FiraSans/FiraSans-Italic.ttf") format("truetype");
  font-display: swap;
}


@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraSans/FiraSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FiraSans/FiraSans-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FiraCode/FiraCode-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf") format("truetype");
  font-display: swap;
}


@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf") format("truetype");
  font-display: swap;
}
