$mobile-breakpoint: 425px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

@mixin tabletAndAbove {
  @media (min-width: $mobile-breakpoint) {
    @content
  }
}

@mixin desktop {
  @media (min-width: $tablet-breakpoint) {
    @content
  }
}

@mixin largeDesktop {
  @media (min-width: $desktop-breakpoint) {
    @content
  }
}
