.Empty {
  &.Empty--7 {
    padding-top: var(--size-7);
  }

  &.Empty--11 {
    padding-top: var(--size-11);
  }

  &.Empty--16 {
    padding-top: var(--size-16);
  }

  &.Empty--24 {
    padding-top: var(--size-24);
  }

  &.Empty--36 {
    padding-top: var(--size-36);
  }

  &.Empty--54 {
    padding-top: var(--size-54);
  }
}
