$About-max-width: 700px;
$About-photo-length: 200px;

.About {
  max-width: $About-max-width;
  padding-top: var(--nav-height);
}

.About-header,
.About-photo,
.About-text {
  margin-bottom: var(--size-xlarge);
}

.About-photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.About-photoImg {
  max-width: $About-photo-length;
  max-height: $About-photo-length;
  margin-right: var(--size-small);
}

.About-photoText {
  min-width: $About-photo-length;
  height: $About-photo-length;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include phone {
    margin-top: var(--size-base);
  }
}

.About-endingList {
  list-style-type: disc;
}
