.Blog {
  padding-top: var(--nav-height);
}

.Blog-posts {
  margin-top: var(--size-huge);
}

.Blog-index {
  margin-top: var(--size-large);
}

.Blog-post {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-bottom: var(--size-large);
  }
}

.Blog-postTitle {
  font-size: var(--size-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--size-xlarge);
}

.Blog-postDate {
  margin-right: 6px;

  color: #484144;

  font-size: var(--size-small);
  line-height: var(--size-base);

  &::after {
    content: "|";
    margin-left: 6px;
  }
}
