.Speaking {
  padding-top: var(--nav-height);
}

.Speaking-text {
  margin-bottom: var(--size-huge);
}

.Speaking-videos {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

.Speaking-video {
  display: flex;
  flex-direction: row;

  width: 100%;

  &:not(:last-child) {
    margin-bottom: var(--size-large);
  }

  @include tablet {
    flex-direction: column;
  }
}

.Speaking-videoDetails {
  display: flex;
  flex-direction: column;

  width: 66%;

  margin-left: var(--size-small);

  @include tablet {
    width: 100%;

    margin-left: 0;
    margin-top: var(--size-small);
  }
}

.Speaking-videoLocation {
  margin-top: var(--size-small);

  // NOTE: this breaks the scale but I can't really figure out any other thing to do
  font-size: 14px;
  line-height: var(--size-base);
}

.Speaking-videoTitle {
  margin-bottom: var(--size-small);

  font-weight: var(--font-weight-bold);
}

.Speaking-links {
  margin-top: var(--size-large);
}

.Speaking-description {
  font-size: var(--size-small);
  line-height: var(--size-base);
}
