.Video {
  width: 100%;
}

.Video-content {
  position: relative;

  height: 0;
  // This is a known hack to resize the iframe and keep the ratio
  // Percentage is iframe height / width
  padding-bottom: 56.257%;
}

.Video-video {
  position: absolute;

  width: 100%;
  height: 100%;
}
