.ThemeChanger {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;

    svg {
      fill: var(--secondary-color);
    }
  }

  svg {
    fill: var(--tertiary-color);

    &:hover {
      fill: var(--secondary-color);
    }
  }
}
