@import "../../styles/media";

.About {
  display: flex;
  flex-direction: column;

  @include largeDesktop {
    flex-direction: row;
  }

  .About-img {
    height: 100%;
    margin-bottom: var(--size-36);

    @include largeDesktop {
      margin-right: var(--col-size);
    }

    img {
      max-width: 250px;

      // this is a hack. approximately the image size + inner padding
      @media (min-width: 500px) {
        max-width: 400px;
      }

      @include largeDesktop {
        max-width: 500px;
      }
    }

    figcaption {
      // the photo image has 15px transparency to the left due to the brush on
      // the top left
      margin-left: 15px;

      color: var(--tertiary-color);

      font-size: var(--size-11);

      font-weight: bold;
      line-height: var(--size-16);
      text-transform: uppercase;
    }
  }
}
