.BlogPostFooter {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  color: var(--tertiary-color);

  font-size: var(--size-11);
  font-weight: bold;
  line-height: var(--size-16);
  text-align: center;
  text-transform: uppercase;

  .BlogPostFooter-content {
    max-width: 600px;
  }
}
