@import "../../styles/media";

.Footer {
  width: 100%;
  height: 100%;

  text-align: center;

  padding-top: var(--size-36);
  padding-bottom: var(--size-54);

  @include tabletAndAbove {
    padding-top: 0;
    padding-bottom: var(--size-36);
  }
}
