@import "../../styles/media";

.MenuBar {
  @include desktop {
    display: none;
  }

  .MenuBar-modal {
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    overflow: hidden;

    background-color: var(--primary-color);

    transition: all 0.5s ease-in;
  }

  .MenuBar-button {
    position: absolute;
    right: 0;
    z-index: 2;

    visibility: visible;
  }

  &.MenuBar--open {
    .MenuBar-modal {
      visibility: visible;
      opacity: 1;
    }
  }
}
