---
title: apparently i codes
---

.Grid
  .Grid-content
    .Presentation
      .Presentation-introduction
        ' yes, hello there,
        br
        ' i'm
        span.HighlightedText @mendes
        br
        '  and i codes.

      .Presentation-extra
        ' i also
        a.Link.Link--black target="_blank" href="#{data.links.include}" volunteers
        ' ,
        br
        a.Link.Link--black target="_blank" href="#{data.links.coderdojo}" teaches
        ' ,
        a.Link.Link--black target="_blank" href="#{data.links.instagram}" photographs
        ' ,
        br
        a.Link.Link--black target="_blank" href="/blog" writes
        ' ,
        a.Link.Link--black target="_blank" href="/speaking" talks
        ' ,
        a.Link.Link--black target="_blank" href="#{data.links.twitter}" tweets
        br
        ' and
        a.Link.Link--black target="_blank" href="#{data.links.github}" open sources
        ' .

      .Presentation-cta
        ' if you want to know more
        br
        ' just click one of these links.

      ul.Presentation-links
        li.Presentation-link
          a.Link.Link--black href="/about" about
        li.Presentation-link
          a.Link.Link--black href="/blog" blog
        li.Presentation-link
          a.Link.Link--black href="/speaking" speaking
        li.Presentation-link
          a.Link.Link--black href="/photography" photography
        li.Presentation-link
          a.Link.Link--black href="/contact" contact

      .Presentation-realEnding
        ' oh, hello there. well, this is awkward...
        br
        ' click
        a.Link href="/y2f0" here
        ' , will you?
