.Nav {
  .Nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
  }

  .Nav-left,
  .Nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .NavLink:not(:last-child) {
    margin-right: var(--size-24);
  }
}
